html, body {
    height: 100%;
    max-height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: white;
    height: 100%;
    overflow: hidden;
}

.navbar a{
    cursor: pointer;
}

.navbar .brand {
    margin-left: 10px;
    margin-top: 4px;
    padding: 0;
    background-image: url("img/jvs32.png");
    height: 32px;
    width: 32px;
}

#viewport {
    position: absolute;
    top: 40px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
}

/********************************************************
                 Toolbar
********************************************************/

#ToolBar li{
    margin-left: 5px;
}

#ShortcutsPane {
}

#ShortcutsPane .shortcut {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 5px;
}

#ShortcutsPane .shortcut img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

#ShortcutsPane .shortcut .title {
    position: absolute;
    bottom: 5px;
    width: 120px;
}

#SliderPane{
    height: 100%;
}

#LeftTabsPane, #RightTabsPane {
    overflow: hidden;
}

#splitPart {
    width: 4px;
    height: 100%;
    background-color: #DDD;
}

/****************************************************************************
                JVSTab Section
****************************************************************************/

.jvstabs{
    height:100%;
}

.jvstabs .tab-content, .jvstabs .tab-pane{
    height:100%;
}


.jvstabs .nav {
    width:100%;
    border-bottom: 2px solid #DDD;
    background: #eeeeee;
    padding: 4px;
    margin: 0;
    -webkit-margin: 0;
    cursor: pointer;
    min-height: 35.5px;
}

.jvstabs .tab-content:before{
    clear:both;
}

.jvstabs .nav-pills .closeIcon {
    margin-left: 6px;
    cursor: pointer;
}

.jvstabs .nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    cursor: pointer;
    border-bottom: 1px solid #DDD;
}

.jvstabs .nav-pills > li > a{
    color: #888;
}

.jvstabs .nav-pills > .active > a, .jvstabs .nav-pills > .active > a:hover {
    color: white;
    background-color: #AAA;
}

/*****************************************************************************
                Editor Section
******************************************************************************/

.editors .nav {
    margin: 0;
    -webkit-margin: 0;
    max-height: 35px;
}

.editors .nav .close {
    margin-left: 6px;
}

/* Remove border-radius */
.editors .nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.editors {
    height: 100%;
}

.centerBoxInfo {
    position: relative;
    top: 49%;
    height: 100%;
}

#tabsContent {
    height: 100%;
}

/*****************************************************************************
                Widgets
******************************************************************************/

.MultimediaTabsPane .toolbar{
    padding: 5px;
    cursor:pointer;
    border-bottom: 2px solid #DDD;
    background: #eeeeee;
}
.MultimediaTabsPane .toolbar:after{
    clear: both;
}
.MultimediaTabsPane .toolbar .btn-mini{
    position: relative; top: -50%;
}
.MultimediaTabsPane .toolbar > *{
    display: inline;
    margin-right:5px;
}
.MultimediaTabsPane .toolbar .left-tools{

}
.MultimediaTabsPane .toolbar .right-tools{
    float: right;
}

.MultimediaTabsPane .console{
    height: 100%;
    width:100%;
    padding: 0;
    margin:0;
    overflow-x:auto;
    overflow-y:auto;
    color: #adff2f;
    background-color: #000000;
}
.MultimediaTabsPane .console pre{
    margin:5px;
    padding: 0;
    border-radius: 0;
    color: #adff2f;
    background-color: #000000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}


/*****************************************************************************
                WebPage
******************************************************************************/

.webpage{
    overflow: hidden;
}
.webpage .content{
    overflow: auto;
    padding: 2px;
}
.webpage .toolbar{
}