html,body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	position: relative;
	padding-top: 40px;
	background-color: white;
}

.shortcutsBody {
	padding-top: 40px;
	
}

.navbar .brand {
	margin-left: 0
}

#shortcuts {
}

#shortcuts .shortcut {
	width: 120px;
	height: 120px;
	position: relative;
	margin: 5px;
}

#shortcuts .shortcut img {
	width: 60px;
	height: 60px;
	margin: 0 auto;
}

#shortcuts .shortcut .title {
	position: absolute;
	bottom: 5px;
	width: 120px;
}

/* Subnav */
.subnav {
	width: 100%;
	/*position: fixed; top : 40px; left : 0; right : 0;
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5),
		color-stop(100%, #eeeeee) ); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f5f5f5',
		endColorstr='#eeeeee', GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
	/* W3C */
	border: 0px solid #e5e5e5;
	padding: 6px 0px 3px 0px;
}

.subnav *:FIRST-CHILD{margin-left:3px}


/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media ( min-width : 980px) {
	.subnav-fixed {
		position: fixed;
		top: 40px;
		left: 0;
		right: 0;
		z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
		border-color: #d5d5d5;
		border-width: 0 0 1px; /* drop the border on the fixed edges */
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		-webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
		-moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
		box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0, 0, 0, .1);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
		/* IE6-9 */
	}
}